<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <h1>CHAT ROOM BY <span>Chamick<span>7</span></span></h1>
    <form class="form" action="/chat">
        <input class="name" type="text" name="name" placeholder="Name" required>
        <input class="room" type="text" name="room" placeholder="Room Key" required>
        <input type="Submit" value="Join">
    </form>
</body>
</html>